{%extends 'base.html'%}
{% block content %}
{{ block.super}}
{% load bootstrap4 %}
<br>
<br>
<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
<div class="container-fluid">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-9" style="max-width:40rem; margin-top:20px;">
            {% for image in images %}

            <div class="card mr-0" style="max-width:40rem; margin-top:20px;">
                <div class="card-header">
                    {% for profile in profile %}
                    {% if profile.user == user %}
                        {% if profile.profile_photo %}
                        <img class="mb-1" src="{{profile.profile_photo.cdn_url}}" alt="" style="height:50px;width:50px; border-radius:50%; float:left; margin-right:15px">
                        {%else%}
                        <img class="mb-1" src="https://clipart.info/images/ccovers/1505918650Platinum-Iphone-X-Transparent-Background.png" alt="" style="height:50px;width:50px; border-radius:50%; float:left; margin-right:15px">
                        {% endif %}
                    {% endif %}
                    {% endfor %}
                    <label>{{image.posted_by}}</label>
                </div>
                <img src="{{image.insta_image.cdn_url}}" class="card-img-top">
                <div class="card-body">
                    <div class="header">
                    <form action="{% url 'like' %}" method="post">
                    
                    {% csrf_token %}

                    <button class="like" type="submit" name="image_id" value="{{image.id}}"><i class="far fa-heart" style="margin-right:10px;color:black;"></i></button>
                    </form>
                    </div>
                    <div class="like-section">
                         <label>{{image.likes.count}} Likes</label>
                        
                        {% for comment in comments %}
                        {% if image.id == comment.image.id %}
                        <p><strong>{{comment.poster}}</strong>    {{comment.comment}}</p>
                        {% endif %}
                        {%endfor%}
                        {{form.media}}

                        <form action="{%url 'comment' pk=image.id%}" method="post" enctype="multipart/form-data" id="sema">
                            {%csrf_token%}

                            {% bootstrap_form form%}

                        </form>

                        {% block scripts %}
                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

                        {% bootstrap_javascript %}
                        {% endblock %}
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
        <div class="col-2" style="max-width:20rem; margin-top:20px;">
            <div class="" style="position:fixed; width:350px">

                <header style="margin-bottom:30px;margin-top:20px;">
                    {% for profile in profile %}
                    {% if profile.user == user %}
                        {% if profile.profile_photo %}
                        <img class="mb-1" src="{{profile.profile_photo.cdn_url}}" alt="" style="height:50px;width:50px; border-radius:50%; float:left; margin-right:15px">
                        {%else%}
                        <img class="mb-1" src="https://clipart.info/images/ccovers/1505918650Platinum-Iphone-X-Transparent-Background.png" alt="" style="height:50px;width:50px; border-radius:50%; float:left; margin-right:15px">
                        {% endif %}
                    <p style="font-size:16px; align:center;">{{profile.user}}</p>
                    {% endif %}
                    {% endfor %}
                </header>
                <hr>
                <p style="float:left; font-size:15px; font-weight:bolder; color:grey">Stories</p>
                <p style="float:right; font-weight:bolder; font-size:15px"><a style="color:inherit" href="">View All</a>
                </p>
                <div class="stories"
                    style="overflow-y:auto; height:400px;margin-top:50px;padding:10px; border-bottom: 1px solid #ddd; width:100%">
                    <hr>
                    {% for profile in profile %}
                    {% if profile.user != user %}
                    <div class="user_stories" style="margin-bottom:15px">

                        {% if profile.profile_photo %}
                        <img class="mb-1" src="{{profile.profile_photo.cdn_url}}" alt="" style="height:50px;width:50px; border-radius:50%; float:left; margin-right:15px">
                        {%else%}
                        <img class="mb-1" src="https://clipart.info/images/ccovers/1505918650Platinum-Iphone-X-Transparent-Background.png" alt="" style="height:50px;width:50px; border-radius:50%; float:left; margin-right:15px">
                        {% endif %}

                        <a href="{% url 'all' pk=profile.pk %}  ">
                            <p style="font-size:16px">{{profile.user}}<br>
                                <a href="/follow/follow/{{profile.user.id}}/"
                                    class="btn btn-outline-secondary btn-sm">{{follow}}follow</a>
                                <a href="/follow/unfollow/{{profile.user.id}}/"
                                    class="btn btn-outline-secondary btn-sm">{{unfollow}}unfollow</a>
                            </p>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>


    </div>




    {% endblock %}