{%extends 'base.html'%}
{% block content %}
{{ block.super}}
{% load bootstrap4 %}
<br>
<br>
<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
<div class="container-fluid header-top">
    <div class="col-md-12" style="padding:0px;">
        <div class="top-menu-logo"><img src="static/img/lion.jpg" class="center-block" style="height:40px;margin-top:10px;margin-bottom:10px;">
            <div class="menu-buttons">
                <button class="btn btn-default" type="button" id="upload-but"><i class="glyphicon glyphicon-upload"></i></button>
                <button class="btn btn-default" type="button" id="profile-but"><i class="glyphicon glyphicon-user"></i></button>
            </div>
        </div>
    </div>

</div>
{% for image in images %}
<div class="container img-container">
    <div id="upload-div">
        <div class="img-div">
            <div class="header"><img class="img-circle" src="{{image.profile.profile_photo.url}}"
                    style="height:40px;margin-top:10px;margin-bottom:10px;">
                <label>{{image.profile.name}}</label>
            </div><img src="{{image.insta_image.url}}">
            <div class="header"><a href="#"><i class="fa fa-heart"></i></a><a href="#"><i class="fa fa-comment"></i></a>
            </div>
            <div class="more-section">
                <label>10 Likes</label>
                <p><strong>{{image.profile.name}} </strong>{{image.caption}}</p>
            </div>
        </div>
    </div>
    {%endfor%}
</div>


{% endblock %}