{%extends 'base.html'%}
{% block content %}
{{ block.super}}
{% load bootstrap4 %}
<br>
<br>
<div class="container">

  <div class="card-columns">

    <div class="card border-secondary">
      <img class="card-img-top" class="img-responsive" src="{{profile.profile_photo.url}}" size="">
    <div class="card-footer">
      <p>{{profile.name}}</p>
      <p>{{profile.bio}}</p>
      </div>
    </div>

  </div>
  <div class="row">
    {% autoescape on %}
    {{profile.bio| safe}}
   {% endautoescape %}
  </div>
</div>

{% endblock %}