.form-inline:focus{
  outline: none;
}
.form-control {
  font-family: "FontAwesome"
}
  
body {
  
  z-index: 0;
  background-color: rgba(192, 192, 192, 0.4);
  background-blend-mode: lighten;
}
@media only screen and (max-width: 600px) {
  div.col{
      display: none;;
  }
}

@media screen and (max-width: 600px) {
  .col {
      width: 100%;
  }
}