@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Lobster|Sacramento|Open+Sans|Quicksand|Raleway|Lobster+Two');
a.navbar-brand{
  font-family: 'Lobster Two', cursive;
}
.form-inline:focus{
  outline: none;
}
.form-control {
  font-family: "FontAwesome"
}
  
body {
  
  z-index: 0;
  background-color: rgba(192, 192, 192, 0.4);
  background-blend-mode: lighten;
}