.form-inline:focus{
  outline: none;
}
.form-control {
  font-family: "FontAwesome"
}
  
body {
  
  z-index: 0;
  background-color:   rgb(249, 249, 249);
  background-blend-mode: lighten;
}
.card-header{
  background-color: white;
}

@media only screen and (max-width: 600px) {
  div.col{
      display: none;;
  }
}

@media screen and (max-width: 600px) {
  .col {
      width: 100%;
  }
}